.progress_bar{
    height: 8px;
    background-color: lightseagreen;
}

.file_upload_input{
    font-size: 32px;
    cursor: pointer;
    color: black;
    transition: 10ms;
}
.file_upload_input:hover{
    opacity: 0.6;
}