.App {
  text-align: center;
}

.dark_text{
  color: white;
}

.dark{
  background-color: #444444 !important;
  color: #ffffff !important;
}
.error{
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.small{
  font-size: 14px;
  font-weight: 500;
}

.adaptive_padding{
  padding-right: 12px;
  padding-left: 12px;
}

.regular{
  font-size: 18px;
  font-weight: 500;
}

.title_text{
  font-size: 36px;
  font-weight: bold;
}

.container{
  max-width: 1190px;
  margin:auto;
}
